:root {
    --mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;
}
.ActualComponent-wrapper {
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    margin: 10px;
    display: grid;
    background-color: whitesmoke;
}
.ActualComponent-header {
    border-radius:5px 5px 0 0;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

.ActualComponent-content {
    padding-left: 10px;
}

.dot-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}
.dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    
}

.description-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
		'description-img description-item'
}

.description-img {
    grid-area: description-img;
}

.description-item {
    grid-area: description-item;
}